    .tabs { width: 70%; height: 80%; position: absolute;
            margin-top: 2em;
        }
        
        .tabs input {
            position: absolute;
            z-index: 100;
            width: 120px;
            height: 50px;
            left: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            cursor: pointer;
        }
        .tabs input#tab-2{
            left: 120px;
        }
        .tabs input#tab-3{
            left: 240px;
        }
        .tabs input#tab-4{
            left: 460px;
        }
        .tabs input#tab-5{
            left: 620px;
        }
        .tabs label {
            background: #c4cece;
            background: -moz-linear-gradient(top, #c4cece 0%, #a8adad 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4cece), color-stop(100%,#a8adad));
            background: -webkit-linear-gradient(top,  #c4cece 0%,#a8adad 100%);
            background: -o-linear-gradient(top,  #c4cece 0%,#a8adad 100%);
            background: -ms-linear-gradient(top, #c4cece 0%,#a8adad 100%);
            background: linear-gradient(top,  #c4cece 0%,#a8adad 100%);
            font-size: 15px;
            line-height: 40px;
            height: 40px;
            position: relative;
            padding: 0 20px;
            float: left;
            display: inline-table;
            width: 80px;
            color: #1d20ca;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
            border-radius: 3px 3px 0 0;
            box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
        }
        
        .tabs label:after {
            content: '';
            background: #fff;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            display: inline-table;
        }
        
        .tabs input:hover + label {
            background: #d4d6d6;
        }
        
        .tabs label:first-of-type {
            z-index: 6;
            box-shadow: 2px 0 2px rgba(0,0,0,0.1);
        }
        
        .tab-label-2 {
            z-index: 4;
        }
        
        .tab-label-3 {
            z-index: 3;
        }
        
        .tab-label-4 {
            z-index: 2;
        }
        .tab-label-5{
            z-index: 1;
        }
        
        .tabs input:checked + label {
            background: #fff;
            z-index: 7;
        }
        
        .clear-shadow {
            clear: both;
        }
        
        .content {
            background: #fff;
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 5;
            box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
            border-radius: 0 3px 3px 3px;
        }
        
        .content div {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 40px;
            z-index: 1;
            opacity: 0;
        
            -webkit-transition: opacity linear 0.1s;
            -moz-transition: opacity linear 0.1s;
            -o-transition: opacity linear 0.1s;
            -ms-transition: opacity linear 0.1s;
            transition: opacity linear 0.1s;
        }
        .content-2{overflow: scroll;}
                       
        .tabs input.tab-selector-1:checked ~ .content .content-1,
        .tabs input.tab-selector-2:checked ~ .content .content-2,
        .tabs input.tab-selector-3:checked ~ .content .content-3,
        .tabs input.tab-selector-4:checked ~ .content .content-4,
        .tabs input.tab-selector-5:checked ~ .content .content-5 {
            z-index: 100;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
        
            -webkit-transition: opacity ease-out 0.2s 0.1s;
            -moz-transition: opacity ease-out 0.2s 0.1s;
            -o-transition: opacity ease-out 0.2s 0.1s;
            -ms-transition: opacity ease-out 0.2s 0.1s;
            transition: opacity ease-out 0.2s 0.1s;
                    }
        .objgen{background-size: 50%;float: left;border-radius: 1em;box-shadow:-3px -3px 3px 1px rgba(0,0,0,0.2);}
        .objesp{background-size: 50%;float: right;border-radius: 1em;box-shadow: -3px -3px 3px 1px rgba(0,0,0,0.2);}
        #menuconceptos{list-style:none ;} 
                    
        .foto{width:200px;height: 300px; border-radius: 1em;box-shadow: 3px -5px 3px 1px rgba(0, 0, 0, 0.2);}
        h2{background-color: royalblue;box-shadow:2px -5px 2px 1px rgba(0,0,0,0.3);}
        .content-4{margin: none;}
        .content-5{margin-top: 4em;}
         #banner-unad{overflow: hidden;}       
        aside { width: 250px; height :400px; margin-left:80%; overflow: scroll;float:right; position: absolute;}
               
        .nav {
            width:500px; margin:0%;
                }    
        .nav li a {
            background: #c4cece;
            background: -moz-linear-gradient(top, #c4cece 0%, #a8adad 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4cece), color-stop(100%,#a8adad));
            background: -webkit-linear-gradient(top,  #c4cece 0%,#a8adad 100%);
            background: -o-linear-gradient(top,  #c4cece 0%,#a8adad 100%);
            background: -ms-linear-gradient(top, #c4cece 0%,#a8adad 100%);
            background: linear-gradient(top,  #c4cece 0%,#a8adad 100%);
            font-size: 15px;
            line-height: 40px;
            height: 40px;
            position: relative;
            padding: 0 20px;
            float: left;
            display:block;
            width: 150px;
            color: #1d20ca;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
            border-radius: 3px 3px 0 0;
            box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);

        }
                
        .nav li a:hover {
            background: #d4d6d6;
        }
        
        
        
        ul {
            list-style:none;
        }
       